@model IndexDrawingsViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">to</h1>
    <h1 class="display-4">DigitGallery</h1>
</div>

<a class="btn btn-primary" asp-action="RunForm">Open Desctop App</a>
